---
import MySiteLayout from "../layouts/MySiteLayout.astro";

---

<MySiteLayout>
  <!-- Gallery -->
<div class="row py-5 container mx-auto">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <a href="/img/gallery/bus1.jpg" data-lightbox="image-gallery">
      <img
        src="/img/gallery/bus1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </a>
    <a href="/img/gallery/bus2.jpg" data-lightbox="image-gallery">
      <img
        src="/img/gallery/bus2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
    </a>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus3.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />
  </a>
  <a href="/img/gallery/bus4.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus4.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </a>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus5.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus5.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
  </a>
  <a href="/img/gallery/bus6.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus6.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus7.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus7.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
  </a>
  <a href="/img/gallery/bus8.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus8.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus9.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus9.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
  </a>
  <a href="/img/gallery/bus10.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus10.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus11.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus11.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    </a>
    <a href="/img/gallery/bus12.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus12.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus13.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus13.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    </a>
    <a href="/img/gallery/bus14.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus14.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus15.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus15.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    </a>
    <a href="/img/gallery/bus16.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus16.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus17.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus17.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    </a>
    <a href="/img/gallery/bus18.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus18.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus19.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus19.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    </a>
    <a href="/img/gallery/bus20.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus20.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus21.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus21.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="/img/gallery/bus22.jpg" data-lightbox="image-gallery">
    <img
      src="/img/gallery/bus22.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    </a>
  </div>
</div>
<!-- Gallery -->
</MySiteLayout>