---
import MySiteLayout from "../layouts/MySiteLayout.astro";
---

<MySiteLayout>
  <div class="container-fluid p-0">
    <div class="owl-carousel header-carousel position-relative mb-5">
      <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="/img/bus1.jpg" alt="" />
        <div
          class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
          style="background: rgba(6, 3, 21, .5);"
        >
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-10 col-lg-8">
                <h1 class="display-3 text-white animated slideInDown mb-4">
                  ПАСАЖИРСЬКІ <span class="text-primary">МІЖМІСЬКІ</span> ПЕРЕВЕЗЕННЯ
                </h1>
                <p class="fs-5 fw-medium text-white mb-4 pb-2">
                  Місцем базування нашої компанії є місто Харків. Проте ми здійснюємо пасажирські перевезення по всій Україні. На ринку пасажирських перевезень нашої країни ми впевнено займаємо лідируючі позиції та горді можливістю надання Вам сервісу світового рівня!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="/img/bus2.jpg" alt="" />
        <div
          class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
          style="background: rgba(6, 3, 21, .5);"
        >
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-10 col-lg-8">
                <h1 class="display-3 text-white animated slideInDown mb-4">
                  ОРЕНДА АВТОБУСІВ У <span class="text-primary">ХАРКОВІ</span>. ОРЕНДА МІКРОАВТОБУСІВ.
                </h1>
                <p class="fs-5 fw-medium text-white mb-4 pb-2">
                  Основним та головним напрямком нашої діяльності є здавання в оренду автобусів та мікроавтобусів з водіями для здійснення пасажирських транспортних перевезень по Україні. Пасажирські автобусні перевезення — галузь економіки нашої країни, що стрімко розвивається.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5 animated slideInDown">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Де в Харкові орендувати автобус для перевезення людей</h1>
        <p class="lead">Якщо ви ставитеся цим питанням, то ви потрапили точно за адресою! Компанія понад 10 років надає надає в оренду автобуси як у Харкові. Головний офіс нашої компанії розташований у Харкові, тут же базується наш власний автопарк. У нас можна як орендувати автобус на 50 осіб, так і бус на 7-21 осіб, якщо планується поїздка невеликої групи людей. Крім того, в нашому автопарку є преміальні автомобілі та інший транспорт різного класу та місткості.</p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="/img/bus3.jpg" alt="" width="720"/>
      </div>
    </div>
  </div>
      <!-- Service Start -->
      <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">МИ ПРОПОНУЄМО</h1>
            </div>
            <div class="row g-4">
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item h-100 p-4">
                      <div class="overflow-hidden mb-4">
                          <img class="img-fluid" src="/img/Buses.png" alt="">
                      </div>
                      <h4 class="mb-3">Транспортне обслуговування екскурсійних програм</h4>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item h-100 p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/img/corporate-bus-rentals.jpeg" alt="">
                    </div>
                    <h4 class="mb-3">Обслуговування корпоративних та MICE-заходів будь-якого масштабу</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item h-100 p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/img/wedding-bus.webp" alt="">
                    </div>
                    <h4 class="mb-3">Обслуговування приватних урочистих заходів</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item h-100 p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/img/work_bus.jpeg" alt="">
                    </div>
                    <h4 class="mb-3">Здійснення регулярних трансферів працівників до місця роботи</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item h-100 p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/img/ecscursion-bus.jpeg" alt="">
                    </div>
                    <h4 class="mb-3">Екскурсійні та паломницькі тури як Україною</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item h-100 p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/img/children-bus.jpeg" alt="">
                    </div>
                    <h4 class="mb-3">Здійснення групових та індивідуальних дитячих перевезень</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
  <div class="px-4 text-center wow fadeInUp">
    <h2 class="display-4 fw-bold">Бажаєте орендувати автобус із водієм у Харкові?</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Не має значення яку кількість людей необхідно перекласти, рівень комфорту та бюджет! У нас завжди є що вам запропонувати! Ось лише невеликий перелік автобусів, оренда яких доступна в нашій компанії:</p>
    </div>
    <div class="container mt-7">
      <div class="col">
        <div class="card shadow">
          <div class="table-responsive">
            <table class="table align-items-center table-flush mb-0">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Автобус, оренда</th>
                  <th scope="col">Кількість місць</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Neoplan 316
                  </td>
                  <td>
                    50
                  </td>
                </tr>
                <tr>
                  <td>
                    Scania
                  </td>
                  <td>
                    55
                  </td>
                </tr>
                <tr>
                  <td>
                    Mercedes Sprinter 519
                  </td>
                  <td>
                    21
                  </td>
                </tr>
                <tr>
                  <td>
                    Mercedes Sprinter 519
                  </td>
                  <td>
                    20
                  </td>
                </tr>
                <tr>
                  <td>
                    Mercedes V-class
                  </td>
                  <td>
                    7
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 my-5 mx-auto">
      <p class="lead mb-4">Безперечно, це лише частина нашого автопарку і під ваші конкретні завдання ми підберемо найоптимальніший варіант!</p>
    </div>
  </div>
  <div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="/img/bus-rent.jpeg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                <h3 class="mb-5">Оренда автобуса з водієм компанії</h3>
                <p class="mb-5">Оренда автобуса з водієм дозволяє доставити вас у потрібне місце у визначений час. Але для того, щоб вся поїздка пройшла гладко та спокійно, а сам транспортний засіб вас не розчарував, необхідно звернутися до тієї компанії, якій довіряють уже тисячі українців</p>
                <div class="row g-4 mb-5">
                  <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="m-0">бездоганні за зовнішнім виглядом та технічним станом сучасні моделі автобусів</p>
                  </div>
                  <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="m-0">оптимальний маршрут поїздки</p>
                  </div>
                  <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="m-0">можливість замовлення автобуса оптимальної місткості</p>
                  </div>
                  <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="m-0">пунктуальні та ввічливі водії з великим досвідом роботи</p>
                  </div>
                  <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="m-0">доступна вартість перевезення</p>
                  </div>
                  <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="m-0">гнучкі умови оплати оренди</p>
                  </div>
                  <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="m-0">індивідуальний підхід до кожного клієнта</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</MySiteLayout>
